@use './mixins' as *;
@use './variables' as *;

.about-container {
    background-color: var(--dark-blue);

    .container {
        margin-inline: auto;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include medium {
            flex-direction: row;
            align-items: center;

            > * {
                flex-basis: 100%;
            }
        }
    }

    .text {
        max-width: 65ch;
        @include space-y(1rem);

        .lead {
            color: rgb(200, 200, 200);
            line-height: 1.75;
            font-size: 0.85rem;

            @include small {
                font-size: 1rem;
            }
        }
    }

    .img-container {
        @include flex(column, center, center);

        @include large {
            justify-content: flex-end;
        }

        .personImage {
            width: 75%;
            max-width: 300px;
        }
    }
}
