@use './mixins' as *;
@use './variables' as *;

.about-container {
    padding: 3rem;
    background-color: var(--dark-blue);

    @include large {
        padding: 5rem;
    }

    .container {
        margin-inline: auto;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include medium {
            flex-direction: row;
            align-items: center;

            > * {
                flex-basis: 100%;
            }
        }
    }

    .text {
        max-width: 65ch;

        @include space-y(1rem);

        .title-container {
            width: 100%;

            display: flex;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 1rem;
            row-gap: 0.5rem;

            &::after {
                content: '';

                min-width: 50px;
                max-width: 250px;

                flex: 1 0 20px;

                border-top: 4px solid var(--red);
                border-radius: 8px;
            }

            .title {
                font-size: 2rem;
                letter-spacing: 0.05em;

                @include small {
                    font-size: 2.25rem;
                }

                @include medium {
                    font-size: 2.5rem;
                }

                .coloured {
                    color: var(--red);
                }
            }
        }

        .lead {
            color: var(--skills-span);
            line-height: 1.75;
            font-size: 0.85rem;

            @include small {
                font-size: 1rem;
            }
        }
    }

    .img-container {
        display: flex;
        align-items: center;
        justify-content: center;

        @include large {
            justify-content: flex-end;
        }

        .personImage {
            width: 75%;
            max-width: 300px;
        }
    }
}
