@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin space-x($space) {
    > * + * {
        margin-left: $space;
    }
}

@mixin space-y($space) {
    > * + * {
        margin-top: $space;
    }
}

@mixin small {
    @media screen and (min-width: 640px) {
        @content;
    }
}

@mixin medium {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin large {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
