@mixin flex($direction, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
}

@mixin medium {
    @media screen and(min-width: 768px) {
        @content;
    }
}

@mixin large {
    @media screen and(min-width: 1024px) {
        @content;
    }
}
