//FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$font-text: 'Montserrat', sans-serif;

//COLORS
//Dark Theme Colors
:root {
    --red: hsl(356, 74%, 60%);
    --dark-red: hsla(350, 76%, 56%, 0.769);
    --blue: hsl(201, 100%, 35%);
    --gray: hsl(0, 0%, 67%);
    --dark-gray: hsl(200, 6%, 10%);
    --dark-blue: hsl(199, 100%, 10%);
    --text-color: hsl(0, 0%, 100%);
    --lighter-text: hsl(0, 0%, 86%);
    --card-background: hsl(200, 3%, 19%);
    --skills-span: hsl(0, 0%, 78%);
}

//Light Theme Colors
.light {
    --gray: hsl(0, 0%, 42%);
    --dark-gray: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 0%);
    --lighter-text: hsl(0, 0%, 15%);
    --card-background: hsl(0, 0%, 93%);
    --skills-span: hsl(0, 0%, 24%);
}
