@use '../mixins' as *;
@use '../variables' as *;

.header__container {
    @include flex(row, flex-start, space-between);
    padding: 2rem 2rem 1.3rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

    @include medium {
        // left: -6rem;
        @include flex(row, center, space-around);
        padding-top: 2rem;
        padding-bottom: 1.3rem;
    }

    @include x-large {
        // left: -3rem;
    }

    h3 {
        color: var(--text-color);
        font-size: 1.5rem;
        letter-spacing: 2px;

        @include medium {
            margin-right: 1vw;
            font-size: 1.6rem;
        }

        @include large {
            font-size: 1.9rem;
            margin-right: 0;
        }

        @include x-large {
            font-size: 2rem;
            // margin-right: 30vw;
        }

        .surname {
            color: var(--dark-red);
        }

        .logo-surname {
            color: var(--text-color);
        }
    }

    .nav {
        @include flex(column, center, space-around);

        button {
            background: transparent;
            border: none;
            background-color: var(--dark-gray);
            color: var(--text-color);
            margin-right: 20px;
            svg {
                height: 1.875rem;
                width: 1.875rem;
            }
        }
    }
}

.scrolling {
    @include medium {
        transition: 1s all;
        background-color: var(--red);
        opacity: 0.8;
    }
}
