@use '../mixins' as *;
@use '../variables' as *;

.nav-menu {
    @include flex(column, flex-end, center);
    position: absolute;
    width: 100%;
    margin-top: 4.6rem;

    @include medium {
        margin-top: 0;
        @include flex(row, baseline, space-evenly);
    }

    div:last-child {
        @include medium {
            transform: translateX(0);
        }
    }

    a.nav-menu-link {
        color: var(--text-color);
        background-color: var(--red);
        display: block;
        font-size: 1rem;
        padding: 0.4rem;
        margin-left: 2rem;
        text-decoration: none;

        @include medium {
            @include flex(row, baseline, center);
            background: none;
            margin-left: 1vw;
        }

        @include large {
            font-size: 1.1rem;
            margin-left: 2vw;
        }

        @include x-large {
            font-size: 1.2rem;
            margin-left: 3rem;
        }

        svg {
            margin-right: 0.3rem;
        }
    }

    ul {
        width: 20rem;
        @include medium {
            @include flex(row, center, center);
        }
    }

    li {
        margin-bottom: 0.1rem;
    }

    .menu > li:last-child {
        a {
            border-bottom-left-radius: 20px;

            @include medium {
                border-radius: 0;
            }
        }
    }
    .menu > li:first-child {
        a {
            border-top-left-radius: 20px;

            @include medium {
                border-radius: 0;
            }
        }
    }
}
