@use '../variables' as *;
@use '../mixins' as *;

#projects {
    background: var(--dark-blue);
    padding: 5rem 0;

    .container {
        margin-inline: auto;
    }

    .header {
        h2 {
            font-size: 2.5rem;
            position: relative;
            color: #fff;
            text-transform: capitalize;
            letter-spacing: 2px;
            margin: 0 auto 2rem 1.8rem;
            span.coloured {
                color: var(--red);
            }
        }
        h2::after {
            content: '';
            position: absolute;
            margin-left: 1rem;
            top: 50%;
            width: 20%;
            height: 3.5px;
            background: var(--red);
        }
    }

    .projects-wrapper {
        @include flex(row, center, center);
        flex-wrap: wrap;
        gap: 2rem;
        width: 100%;
    }
}
