@use '../mixins' as *;
@use '../variables' as *;

.project {
    @include flex(column, center, center);
    background-color: var(--dark-gray);
    border-radius: 15px;
    text-align: center;
    width: 21rem;

    .project-img {
        background-image: url('../../images/desktop-design-light.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        width: 100%;
        height: 14rem;
    }

    .project-text {
        padding: 1.8rem 1.6rem 1rem;

        h2.project-header {
            color: var(--text-color);
            margin-bottom: 1.1rem;
        }

        p {
            color: var(--gray);
            margin-bottom: 1rem;
        }

        li {
            display: inline;
            margin-left: 0.3rem;
        }

        .made-width {
            @include flex(row, flex-start, center);

            p {
                font-weight: 700;
            }
        }
    }
}
