@use '../variables' as *;

.project-buttons {
    margin-bottom: 2rem;

    button.project-btn {
        background-color: var(--red);
        border-radius: 100rem;
        border: none;
        color: var(--text-color);
        cursor: pointer;
        margin-left: 0.7rem;
        outline: none;
        padding: 0.5rem 1.5rem;
        transition: 0.3s ease;

        &:hover {
            background-color: var(--text-color);
            color: var(--red);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        svg {
            margin-right: 0.5rem;
            transform: translateY(20%);
        }
    }
}
