@use '../variables' as *;
@use '../mixins' as *;

#projects {
    background: var(--dark-blue);
    padding: 5rem 0;

    .container {
        margin-inline: auto;

        @include medium {
            padding: auto;
        }
    }

    .projects-wrapper {
        @include flex(row, center, center);
        flex-wrap: wrap;
        gap: 2rem;
        width: 100%;
    }
}
