@use './style-components/reset';
@use './style-components/mixins' as *;
@use './style-components/variables' as *;
@use './style-components//header/header';
@use './style-components//header/themeToggle';
@use './style-components/header/nav-menu';
@use './style-components/hero';
@use './style-components/about';
@use './style-components/projects/projects';
@use './style-components/projects/project';
@use './style-components/projects/project-button';
@use './style-components/style-UI/SectionHeader';
@use './style-components/skills/skills';
@use './style-components/skills/skill';
@use './style-components/style-UI/back-to-top';

* {
    font-family: $font-text;
    transition: background-color 0.3s ease-in;
}

body {
    background-color: var(--dark-gray);
    color: var(--text-color);
}

.container {
    padding: 3.5rem 4.5rem 5rem;
    width: 100%;

    @include small {
        max-width: 640px;
    }

    @include medium {
        max-width: 768px;
    }

    @include large {
        max-width: 1024px;
    }

    @include x-large {
        max-width: 1280px;
    }

    @include xx-large {
        max-width: 1536px;
    }
}
